* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100vh;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
input,
button,
textarea {
  font: 500, 1.6rem, Roboto;
}

.container {
  width: 90vw;
  max-width: 900px;
}

@media (max-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}
